$primary: #2B5471;
$reading-bg: #fafafa;
$min-height: 1000px;
$branding-font: "Archivo Regular";
$branding-font-bold: "Archivo Bold";
$dark-accent: #F36161;
$light-accent: #FFF572;

$warning: #F3BD61;
$error: #F36161;

@font-face {
    font-family: "Archivo Regular";
    src: url('fonts/Archivo-Regular.woff'),
        url('fonts/Archivo-Regular.otf'),
        url('fonts/Archivo-Regular.ttf');
}

@font-face {
    font-family: "Archivo Bold";
    src: url('fonts/Archivo-Bold.woff'),
        url('fonts/Archivo-Bold.otf'),
        url('fonts/Archivo-Bold.ttf');
}

html {
    
}

body {
    background: $primary;
}

header {
    color: $reading-bg;
    background: $primary;
    font-family: $branding-font;
    font-size: 2rem;

    h1 {
        font-family: $branding-font-bold;
    }

    a {
        color: $light-accent;
        &:link {
            color: $light-accent;
        }
        &:visited {
            color: $light-accent;
        }
    }
}

footer {
    text-align: center;
    padding-top: 3rem;
}

h1, h2, h3, h4, h5 {
    font-family: $branding-font-bold;
}

dl {
    dt {
        color: $primary;
        margin: 4rem 0 2rem;
        .term {
            background: $light-accent;
            padding: 1rem;
        }
    }
    dd {
        margin-left: 0;
    }
}

a {
    color: $dark-accent;
    &:link {
        color: $dark-accent;
    }
    &:visited {
        color: $dark-accent;
    }
}

.light-text {
    color: $reading-bg;
}

.bg-warn {
    background: $warning;
}

.bg-error {
    background: $error;
}

.main {
    width: 100%;
    color: $primary;
    background: $reading-bg;
}

.row {
    background: $primary;
    .content {
        background: $reading-bg;
        padding: 3rem !important;
    }
}

.small-text-block {
    display: block;
    padding: 1rem;
}

.column, .columns {
    width: 100%;
    display: block;
    float: left;
    margin: 0 !important;
    padding: 1rem !important;
}

.hide-mobile {
    display: none;
}

@media (min-width: 550px) {
    header {
        .pad {
            padding: 5rem !important;
        }
    }
    .hide-mobile {
        display: block;
    }
    td.hide-mobile, th.hide-mobile {
        display: table-cell;
    }
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }
    .column, .columns {
        width: 39.3333333333%;
        display: block;
        float: none;
    }
}
