@font-face {
  font-family: "Archivo Regular";
  src: url("fonts/Archivo-Regular.woff"), url("fonts/Archivo-Regular.otf"), url("fonts/Archivo-Regular.ttf"); }

@font-face {
  font-family: "Archivo Bold";
  src: url("fonts/Archivo-Bold.woff"), url("fonts/Archivo-Bold.otf"), url("fonts/Archivo-Bold.ttf"); }

body {
  background: #2B5471; }

header {
  color: #fafafa;
  background: #2B5471;
  font-family: "Archivo Regular";
  font-size: 2rem; }
  header h1 {
    font-family: "Archivo Bold"; }
  header a {
    color: #FFF572; }
    header a:link {
      color: #FFF572; }
    header a:visited {
      color: #FFF572; }

footer {
  text-align: center;
  padding-top: 3rem; }

h1, h2, h3, h4, h5 {
  font-family: "Archivo Bold"; }

dl dt {
  color: #2B5471;
  margin: 4rem 0 2rem; }
  dl dt .term {
    background: #FFF572;
    padding: 1rem; }

dl dd {
  margin-left: 0; }

a {
  color: #F36161; }
  a:link {
    color: #F36161; }
  a:visited {
    color: #F36161; }

.light-text {
  color: #fafafa; }

.bg-warn {
  background: #F3BD61; }

.bg-error {
  background: #F36161; }

.main {
  width: 100%;
  color: #2B5471;
  background: #fafafa; }

.row {
  background: #2B5471; }
  .row .content {
    background: #fafafa;
    padding: 3rem !important; }

.small-text-block {
  display: block;
  padding: 1rem; }

.column, .columns {
  width: 100%;
  display: block;
  float: left;
  margin: 0 !important;
  padding: 1rem !important; }

.hide-mobile {
  display: none; }

@media (min-width: 550px) {
  header {
    padding: 5rem 0 5rem 5rem !important; }
  .hide-mobile {
    display: inherit; }
  .container {
    max-width: 100% !important;
    width: 100% !important; }
  .column, .columns {
    width: 39.3333333333%;
    display: block;
    float: none;
    padding: 5rem 0 5rem 5rem !important; } }
